@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

html, body {
    min-height: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #8a225b 0%, #3f5590 80%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #d0368a, #708ad4);
}

body:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #d0368a, #708ad4);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.718);
}